/* line 1, ../scss/main.css.scss */
body {
  font: 14px ubuntu, mplus1p, sans-serif;
  padding: 0;
  border: 0;
  margin: 0;
}

/* line 8, ../scss/main.css.scss */
.header {
  background-color: white;
}
/* line 10, ../scss/main.css.scss */
.header .menu {
  text-align: right;
}

/* line 15, ../scss/main.css.scss */
.title {
  background-image: url("/img/title_bg.jpg");
  background-size: auto 255px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
  padding-right: 10px;
}
/* line 24, ../scss/main.css.scss */
.title .portfolio_title {
  font-size: x-large;
  border-bottom: solid 3px white;
}

/* line 30, ../scss/main.css.scss */
.body {
  background-color: white;
  padding: 24px;
}
/* line 33, ../scss/main.css.scss */
.body p {
  margin-left: 16px;
}
/* line 36, ../scss/main.css.scss */
.body ul {
  margin-left: 24px;
  border: 0;
  padding: 0;
}
/* line 41, ../scss/main.css.scss */
.body h2 {
  border-bottom: dotted 1px gray;
}
/* line 44, ../scss/main.css.scss */
.body h3 {
  border-left: solid 4px gray;
  padding-left: 4px;
}
/* line 48, ../scss/main.css.scss */
.body .ss {
  margin-left: 24px;
}
/* line 51, ../scss/main.css.scss */
.body p.imagebox {
  display: inline-block;
  margin: 0px 3px 7px 0px;
}
/* line 54, ../scss/main.css.scss */
.body p.imagebox img {
  display: block;
  margin: 0px 0px 3px 0px;
  width: 240px;
  height: 240px;
}
/* line 60, ../scss/main.css.scss */
.body p.imagebox span.caption {
  font-size: 0.9em;
  text-align: center;
  color: gray;
}
