body {
    font: 14px ubuntu, mplus1p, sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
  }
  
  .header{
      background-color:white;
      text-align: right;
  }
  
  .title{
      background-image: url('/img/title_bg.jpg');
      background-size: auto 255px;
      background-color: black;
      color: white;
      text-align: center;
      padding-top: 150px;
      padding-bottom: 50px;
      padding-right: 10px;
      .portfolio_title{
          font-size: x-large;
          border-bottom: solid 3px white;
      }
  }
  
  .body{
    background-color: white;
    padding: 24px;
    p{
        margin-left: 16px;
    }
    ul{
        margin-left: 24px;
        border: 0;
        padding: 0;
    }
    h2{
        border-bottom: dotted 1px gray;
    }
  }