.container{
    max-width:600px;
    margin: 0 auto;
}

body {
    font: 14px ubuntu, mplus1p, sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
    width:100%;
}

.header{
    background-color:white;
    .menu{
        text-align: right;
    }
}
  
.title{
    background-image: url('/img/title_bg.jpg');
    background-size: auto 255px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-right: 10px;
    .portfolio_title{
        font-size: x-large;
        border-bottom: solid 3px white;
    }
}

p{
    margin-left: 16px;
}
ul{
    margin-left: 24px;
    border: 0;
    padding: 0;
}
h2{
    border-bottom: dotted 1px gray;
    margin-top:2em;
}
h3{
    border-left: solid 4px gray;
    padding-left: 4px;
    margin-top:2em;
}

p.imagebox{
    display: inline-block;
    margin: 0px 3px 7px 0px;
    img{
        display:block;
        margin: 0px 0px 3px 0px;
        width:240px;
        height:240px;
    }
    span.caption{
        font-size: 0.9em;
        text-align:center;
        color:gray;
    }
}

.body{
    background-color: white;
    padding: 24px;
}
#intro a{
    text-decoration: none;
}
.ss{
    margin-left: 24px;
}
.tag{
    border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    background-color:lightseagreen;
    color:white;
    padding-left:0.3em;
    padding-right:0.3em;
    padding-top:0.15em;
    padding-bottom:0.15em;
}
